<% provide(:title, "About") %>

<h1>What all this is about</h1>
<div> 
<h2> I am currently taking <a href="https://csc324-326.sites.grinnell.edu/">this</a> course and for it I have to use Rails to build a website and deploy it to Heroku through GitHub. 
Since we needed elements of randomness and I had a personal project I had been neglecting in favor of school that used a lot of randomness it felt like a great fit. Luckily this manages to fix some of the issues I had origanlly! (like showing the images to other people in a simple fashion)</h2>
I am hoping to at some point reach a level of care and detail as the following image, but alas today is not yet the day.
</div>
<%= image_tag ( "example.png", height:"100%", width:"100%", alt:"An example image of a procedural generated island.") %>
<p> <em>MSCHIZZLE OUT!</em></p>
