<% provide(:title, "About") %>

<h1>What all this is about</h1>
<div> I am currently taking <a href="https://csc324-326.sites.grinnell.edu/">this</a> course and for it I have to use rails to build a website and deploy it to Heroku through GitHub.</div>
<p> <em>MSCHIZZLE OUT!</em></p>
