<% provide(:title, "About") %>

<h1>Welcome to my Crib</h1>
<p> <a href="https://www.youtube.com/watch?v=5d7EbtLb8ok">Something</a> to check out for all mu dudes and dudettes out there

<em>MSCHIZZLE OUT!</em></p>
