<% provide(:title, "Help") %>

<h1>Help?</h1>
<p>Some of the intended functionality is missing, but on the home page you can view some of the generated images and on the data page you can add to a database of values that will be used to generate images in the future.</p>

