<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to my Crib</h1>
<h2> <a href="https://www.youtube.com/watch?v=5d7EbtLb8ok">Something</a> to check out for all ma dudes and dudettes out there</h2>
<p> <em>MSCHIZZLE OUT!</em></p>
<em> This image was brought to you by the number <%= @image_mod %><em>
  <%= link_to "Howdy!", '#', class: "btn btn-lg btn-primary" %>
</div>
<img src="<%= @image_loc.to_data_url %> " alt="Image"/>


    



